__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.local/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.profile
.pytest_cache/
.pytest_cache
.coverage
htmlcov/
.vscode/
.idea/
.DS_Store
.env
*.log
static/cache/

